#quick_search {
    width: 55%;
    height: 180px;
    background-image: url("../img/search_background.png");
    background-size: 240px 180px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 30px;
    margin-bottom: 0;
    position: relative;
}

.homepage_profile {
    width: 40%;
}

.recommend .sub_container{
    width: 46.2%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
}

.recommend a{
    margin: 0;
}

.additional_button{
    margin-right:10px;
    text-decoration:underline;
    font-size:12;
    margin-top:35
}