
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px; 
}
nav {
    
    background-color:#eeeeee;
    height:30px;


    padding:5px; 
}
section {
    width:350px;
    float:left;
    padding:10px; 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

#users_group{
    background-color:grey;
    color:white;
    clear:both;
    text-align:center;
    padding:1%; 
    overflow: auto;
        
    
}

#users_group_gender {
    background-color:pink;
    color:white;
    border-color: #000000;
    padding:1%; 
    overflow: auto;
    width: 48%;
    float:right
    

    
}


#users {
    height: 150px;
    width: 150px;
    border-color: #181e21;
    background-color: #69c8e7;
    float:left;
    border:  1px solid black;
    
}

#search {
   
    background-color: antiquewhite;
    padding: 10px;
   
}
