body {
	margin: 0;
	font-family: "arial";
}

.left {
	float: left;
}

.right {
	float: right;
}

.bottom {
	position: absolute;
	bottom: 0;
}

.clear {
	clear: both;
}

.clear_right {
	clear: right;
}

.clear_left {
	clear: left;
}

.banner {
	width: 100%;
	position: relative;
	background-color: #ec407a;
	color: white;
}

#banner_top {
	height: 120px;
}

#banner_footer {
	height: 80px;
	text-align: center;
	font-style: italic;
	font-size: 12;
	bottom: 0;
	padding-top: 30px;
}

label {
	font-size: 18;
	color: #bdbdbd;
}

select {
	/*-webkit-appearance: none;*/
	color: #ec407a;
}

nav {
	position: absolute;
	bottom: 20px;
	right: 10px;
	margin-right: 11.5%;
}

a{
	text-decoration: none;
	margin: 0 8px;
}

nav a{
	color: white;
}

nav a:hover{
	text-decoration: underline;
}

.container {
	padding: 30px 11.5% 30px 11.5%;
	width: 77%;
	min-width: 964px;
	position: relative;
	overflow: auto;
	background-color: #eeeeee;
}

.sub_container {
	padding: 10px 10px 10px 10px;
	margin: 5px;
	background-color: #fafafa;
	border-style: solid;
	border-width: 2px;
	border-color: #e0e0e0;
	overflow: auto;
}

.section_container {
	margin-bottom: 20px;
	padding: 10px;
	position: relative;
	overflow: auto;
}

.column_container {
	margin-left: 10px;
	overflow: auto;
	top: 0;
	position: relative;
	display: inline-block;
}

.profile_summary {
	margin-left: 5px;
	color: black;
	position: relative;
	height: 180;
}

.recommend .profile_summary {
	height: 100;
	max-width: 50%;
	font-size: 12;
}

button {
	background-color: #ec407a;
	color: white;
	height: 30px;
	border-radius: 20px;
	border-width: 0;
	min-width: 80px;
	cursor: pointer;
}

button:focus{
	outline: 0;
}

.recommend button {
	height: 20px;
	min-width: 40px;
	margin-top: 15px;
}

#profile_name {
	font-weight: bold;
	color: #ec407a;
	font-size: 15;
	margin-bottom: 10px;
}

cat {
	color: #ec407a;
	font-weight: bold;
	margin-left: 8px;
}

mistral {
	font-family: "mistral";
	font-size: 30;
}

grey {
	color: grey;
}

.findlover_box {
	padding:12 0 12 0;
	width: 49%;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #e0e0e0;
}

.findlover_box img {
	height: 100px;
	width: 100px;
}

.img_small {
	height: 60px;
	width: 60px;
	margin: 5 0 0 8;
}

li {
	width: 50%;
	float: left;
	padding-top: 5px;
	font-size: 12;
}