.findlover_box{
    width: 99%;
}

.recommend .profile_summary{
    margin-left: 20px;
}
.recommend img{
    margin-left: 10px;
}
.section_container .img_small{
	margin: 0 0 5 0;
}
.column_container button{
	margin:10;
}
.sub_container a{
	margin: 0;
}
.sub_container form{
	margin-bottom: 0;
}

textarea{
	float:left;
	clear:both;
	width: 90%;
	height: 80;
}
table form{
	margin: 0;
	float: center;
}
table grey{
	font-size: 12;
}
td{
	width: 50%;
	height: 35;
	padding-right: 5;
}
table input{
	width: 100%;
}
table select{
	width: 100%;
}