#search_bar{
	text-align: center;
}
.findlover_box{
	width: 99%;
}
.recommend .profile_summary{
	margin-left: 20px;
}
.recommend img{
	margin-left: 10px;
}
#search_selector{
	height: 30;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #e0e0e0;
    margin-bottom: 0;
    transition-duration: 1s;
    overflow-y: hidden;
}
#expand{
    background-color: #eeeeee;
    height: 35;
    margin: 5 0 0 0;
    padding-top: 7;
    border-width: 2px;
    border-style: dashed;
    border-color: #e0e0e0;
}
.result_box{
    background-color: #eeeeee;
	width: 21%;
    height: 200;
    margin: 0 5 10 5;
	text-align: center;
    padding: 15 5 15 5;
    border-width: 2px;
    border-style: dotted;
    border-color: #e0e0e0;
}
.result_box div{
	margin: 0 auto;
    padding-top: 5px;
}
.result_box .image_container_100{
	text-align: center;
	width: 96%;
    margin-left: 2.5px;
    margin-bottom: 10px;
	overflow: auto;
	background-color: black;
}
.result_box a{
    margin: 0 0 0 0;
}
.sub_container a{
    margin: 0;
}
.result_box .profile_summary{
    font-size: 14;
    height: 200;
}
.result_box .profile_summary .bottom{
    margin-left: 20;
}
#more_button{
    margin-right:5;
    background-color: transparent;
    color: dodgerblue;
    text-decoration: underline;
    min-width: 0;
}